<ion-view view-title="Sonidos">
  <ion-content class="padding">
    <ion-list>
    	
    	<img class="avatar" ng-click="ayCaramba()" src="img/ayCaramba.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="Burns()" src="img/Burns.png" width="97" height="97"></img>  
    	<img class="avatar" ng-click="Opening()" src="img/Opening.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="PequenoDemonio()" src="img/PequenoDemonio.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="RisaHomero()" src="img/risaHomero.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="Milkhouse()" src="img/Milkhouse2.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="Doh()" src="img/Doh.png" width="97" height="97"></img>
        <img class="avatar" ng-click="Eructo()" src="img/Barney.jpg" width="97" height="97"></img>
        <img class="avatar" ng-click="Gorgory()" src="img/Gorgory.jpg" width="97" height="97"></img>
        <img class="avatar" ng-click="Lisa()" src="img/Lisa.jpg" width="97" height="97"></img>
        <img class="avatar" ng-click="Nelson()" src="img/Nelson.jpg" width="97" height="97"></img>
        <img class="avatar" ng-click="MorirMoe()" src="img/MorirMoe.jpg" width="97" height="97"></img>
    </ion-list>
  </ion-content>
</ion-view>
