<ion-view view-title="Sonidos">
  <ion-content class="padding">
    <ion-list>
    	
    	<img class="avatar" ng-click="ayCaramba()" src="img/ayCaramba.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="bardeMoe()" src="img/barDeMoe.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="Flanders()" src="img/Flanders.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="Burns()" src="img/Burns.png" width="97" height="97"></img>
    	<img class="avatar" ng-click="marge()" src="img/marge.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="Opening()" src="img/Opening.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="PequenoDemonio()" src="img/PequenoDemonio.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="PuercoArana()" src="img/puercoArana.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="RisaHomero()" src="img/risaHomero.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="TomyYDaly()" src="img/TomyYDaly.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="Milkhouse()" src="img/Milkhouse2.jpg" width="97" height="97"></img>
    	<img class="avatar" ng-click="Doh()" src="img/Doh.png" width="97" height="97"></img>

 
    

    </ion-list>
  </ion-content>
</ion-view>
